body {
  background-color: #333;
  background-image: url('1.jpg');
}
.header {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    background:#ABACD3;
    color: black;
   }
#menu-checkbox {
  display: none;
}
.main-menu {
  display: grid;
  padding: 0px;
  margin: 0px;
}
.main-menu li {
  font-size: 1em;
  display: block;
  width: 100%;
  background-color: #333;
}
.main-menu a {
  display: block;
  border-bottom: 1px solid blueviolet;
  color: lightslategray;
  padding: .5em;
  text-decoration: none;
}
.main-menu a:hover {
  text-decoration: underline;
}

.container {
    margin-top: 10px;
    padding: 50px;
    background-color: #BDBDDF;
    color: #333 /* text */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);
}

.footer {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 30px;
    background:#333;
    color: #ABACD3;
   }
@media screen and (min-width: 321px) and (min-height: 321px){
    .header {
     text-align: center;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 20px;
     margin: 0px;
     padding: 0px;
     background:#ABACD3;
     color: black;
   }
    .main-menu {
      display: block;
      margin: 0 auto;
      background-color: #333;
      height: 30px;
    }
    .main-menu li {
      width: calc(100% / 5);
      text-align: center;
      display: inline-block;
      margin-right: 0px;
      background-color: #333;
    }
    .main-menu a {
      display: inline-block;
      font-size: .8em;
      background-color: #333;
      text-decoration: none;
      color: #fff;
      text-transform: capitalize;
      border-bottom: 0;
    }
}

